.banner-box {
  height: 67vh;
  /* Adjust the height as needed */
  background-image: url('./assets/images/banner.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-box {
  background-color: #403838 !important;
}